<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="author" content="Aldrin D'Souza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/css/reveal.css %}">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/css/code.css %}">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/css/ajd.css %}">
    </head>
    <body>
        {{content}}
    </body>
</html>

