<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="author" content="Aldrin D'Souza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/css/reveal.css %}">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/code.css %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/ajd.css %}">
    </head>
    <body>
        {{content}}
    </body>
</html>

