<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/reveal/css/reveal.css %}">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/code.css %}">
        <link rel="stylesheet" href="{{site.baseurl}}{% link assets/ajd.css %}">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.subtitle }}</h3>
                    <h4 class="author">Aldrin J D'Souza
                        {% if page.date %}
                        <br/> {{ page.date | date_to_string }}
                        {% endif %}
                    </h4>
                </section>
                <section data-markdown="{{site.baseurl}}/slides{{page.id}}.md"/>
            </div>
        </div>
        <script src="{{site.baseurl}}{% link assets/reveal/lib/js/head.min.js %}"></script>
        <script src="{{site.baseurl}}{% link assets/reveal/js/reveal.js %}"></script>
        <script>
         Reveal.initialize({
             history: true,
             center: false,
             slideNumber: true,
             dependencies: [
                 { src: '{{site.baseurl}}{% link assets/reveal/plugin/markdown/marked.js %}' },
                 { src: '{{site.baseurl}}{% link assets/reveal/plugin/markdown/markdown.js %}' },
                 { src: '{{site.baseurl}}{% link assets/reveal/plugin/notes/notes.js %}', async: true },
                 { src: '{{site.baseurl}}{% link assets/reveal/plugin/highlight/highlight.js %}',
                   async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
             ]
         });
        </script>
    </body>
</html>
